body{
    font-family: 'Trebuchet', Helvetica, sans-serif;
    background-color: #faf3e0;
    color: #2c3e50;
    margin: 20px;
}
h1{
    color:#ffffff;
    text-align: center;
}
p{
    color:#ffffff;
    font-size: 18px;
    text-align: center;
}